:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 10px; /* Adding a fixed height to ensure the scrollbar is always visible */
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: none;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--ant-primary-color);
}
::-webkit-scrollbar-track:hover {
  background: #f1f1f1;
}

/* Hide horizontal scrollbar */
::-webkit-scrollbar-track-piece {
  display: none;
}
.ant-layout-header {
  background-color: #fff;
  border-bottom: 1px solid rgba(0,0,0,.06);
  padding: 0;
}
.ant-page-header {
  border-bottom: 1px solid rgba(0,0,0,.06);
  height: 64px;
}


  
  nz-sider{
    border-right: 1px solid #f0f0f0;
  }
  .logo {
      width: 120px;
      height: 31px;
      background: rgba(255, 255, 255, 0.2);
      margin: 16px 28px 16px 0;
      float: left;
    }
  
    .header-menu {
      line-height: 64px;
    }
  
    .outer-content {
      padding: 0 50px;
      padding-top: 50px;
    }
  
    nz-breadcrumb {
      margin: 16px 0;
    }
  
    .inner-layout {
      padding: 24px 0;
      background: #fff;
    }
  
    .sider-menu {
      height: 100%;
    }
  
    .inner-content {
      padding: 24px;
      min-height: 280px;
    }
  
    nz-footer {
      text-align: center;
    }
  